In [2]:
import pandas as pd 

df = pd.read_csv("airline.csv")
df.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status,Latitude,Longitude
0,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time,67.816704,-115.143997
1,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time,45.362900,5.329370
2,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed,45.521702,-75.563599
3,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time,32.826199,-116.972000
4,39630,Lora,Durbann,Female,55,Brazil,Coronel Horácio de Mattos Airport,BR,Brazil,SAM,South America,6/10/2022,LEC,Lora Durbann,On Time,-12.482300,-41.277000

In [3]:
# counting the occurrences of each unique value in the Country Name
df.shape

(66418, 17)

In [1]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/aaut0001/FIT3179_W10/main/airline.csv"
df = pd.read_csv(url)

# Convert 'Departure Date' to datetime
df['Departure Date'] = pd.to_datetime(df['Departure Date'])

# Save the cleaned dataset to a new CSV file
df.to_csv("cleaned_airline.csv", index=False)

In [2]:
import pandas as pd

# Load your current dataset
url = "https://raw.githubusercontent.com/aaut0001/FIT3179_W10/main/airline.csv"
df = pd.read_csv(url)

# Convert the 'Departure Date' column to datetime format
df['Departure Date'] = pd.to_datetime(df['Departure Date'])

# Create a new column 'Month Name' based on 'Departure Date'
df['Month Name'] = df['Departure Date'].dt.strftime('%B')

# Save the modified dataset to a new CSV file
df.to_csv("modified_airline.csv", index=False)

In [4]:
import pandas as pd

# Load the sample dataset (replace 'sample_dataset.csv' with your actual dataset URL or file path)
data = pd.read_csv('modified_airline.csv')

# Group the data by 'Continents' and calculate the total flights for each country
grouped = data.groupby(['Continents', 'Country Name']).size().reset_index(name='Total Flights')

# Rank the countries within each continent based on total flights
grouped['Rank'] = grouped.groupby('Continents')['Total Flights'].rank(ascending=False, method='min')

# Filter the top 3 countries for each continent
top_countries = grouped[grouped['Rank'] <= 3]

# Create a new column 'Country Name (Total Flights)' for tooltips
top_countries['Country Name (Total Flights)'] = top_countries['Country Name'] + ' (' + top_countries['Total Flights'].astype(str) + ')'

# Save the new dataset as a CSV file
top_countries.to_csv('top_countries_dataset.csv', index=False)

<ipython-input-4-0b087887ab69>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_countries['Country Name (Total Flights)'] = top_countries['Country Name'] + ' (' + top_countries['Total Flights'].astype(str) + ')'